.CardLayout {
    font-family: 'Roboto',Arial;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    height: 100vh;
}
.CardLayout h2 {
    margin:  0;
    font-weight: 500;
    text-align:  center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3%;
}
.inputWrapper input[type='text'] {
    border:  none;
    padding: 0 9px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-flex;
    outline:  none;
    min-height: 34px;
    line-height: 50px;
}
.inputWrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 6px 0px #3f51b585;
    box-shadow: 0 0 6px 0px #3f51b585;
    border-radius: 6px;
    width: 325px;
    margin: 0 auto 4%;
}
.inputWrapper button {
    display:  inline-block;
    min-height:  50px;
    vertical-align: top;
    border-radius: 0 5px 5px 0;
}